.body{
    background-color: #f9f9f9;
}
.formulario{
    margin: 3%;
}

.cuadro{
    padding: 3%;
     border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #DCDCDC;
    box-shadow: 0px 0px 3px #DCDCDC;
    margin-bottom: 2%;
}

#textArea{
    margin-bottom: 2%;
}